@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 50px;
}

.color-anim {
  transition: 500ms;
  animation: color-change 10s infinite;
}

@keyframes color-change {
  0% {
    color: #5900ff;
  }
  50% {
    color: #ff0095;
  }
  100% {
    color: #4DC7E4;
  }
}

/*fwefwf*/
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #4DC7E4;
  --border-color: #4DC7E4;
  --button-background: #ffffff;
  --button-text-color: #4DC7E4;
  --button-border-color: #4DC7E4;
  --button-hover-background: #4DC7E4;
  --button-hover-text-color: #ffffff;
}

body.dark-mode {
  --background-color: #000000;
  --text-color: #ffffff;
  --primary-color: #4DC7E4;
  --border-color: #4DC7E4;
  --button-background: #333333;
  --button-text-color: #4DC7E4;
  --button-border-color: #4DC7E4;
  --button-hover-background: #4DC7E4;
  --button-hover-text-color: #ffffff;
  section::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000000, var(--primary-color), #000000);
    animation: animate 5s linear infinite;
  }
  header{
background-color: #333333;
  }

  section .card {
    background: #333333;  
  }
  
  
  p {
    color: #4DC7E4;
  }

  .input {
    background-color: var(--background-color);
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 2px solid #ff0095;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .input:focus {
    color: var(--text-color);
    background-color: var(--background-color);
    outline-color: #ff0095;
    box-shadow: -3px -3px 15px #ff0095;
    transition: .1s;
    transition-property: box-shadow;
  }
  @media(max-width: 600px){
    .input{
      width: 80%;
    }
  }
  

}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  
}





.header {
  background-color: #ffffff;
  padding: 1rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border-color);
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0; /* Make sure to specify the top position */
  z-index: 2000;
}

@media only screen and (max-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .header {
    padding: 1rem 6rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 1rem 15rem;
  }
}
@media only screen and (min-width: 1400px) {
  .header {
    padding: 1rem 20rem;
  }
}
@media only screen and (max-width: 576px) {
  .header h2 > span {
    font-size: 1rem;
  }
}

.btn {
  text-align: left;
  margin-top: 15px;
}

.fas {
  margin-right: 5px;
}

.btn-primary-outlined {
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  line-height: 1;
  font-size: 0.9rem;
  font-weight: 600;
  border: 2px solid var(--button-border-color);
  background-color: var(--button-background);
  color: var(--button-text-color);
  outline: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary-outlined:hover {
  background-color: var(--button-hover-background);
  color: var(--button-hover-text-color);
}

.two-button{
  text-align: center;
  margin-top: 20px;
}

.btn-analytic {
  padding: 0.8rem 1.6rem;
  border-radius: 6px;
  line-height: 1;
  font-size: 0.9rem;
  font-weight: 600;
  border: 2px solid var(--button-border-color);
  background-color: var(--button-background);
  color: var(--button-text-color);
  outline: none;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

}

.btn-analytic:hover {
  background-color: var(--button-hover-background);
  color: var(--button-hover-text-color);
  box-shadow: 2px 2px 10px 0px #00000034;
}
/* Medium screens */
@media (max-width: 1200px) {
  .btn-primary-outlined {
    padding: 0.7rem 1.4rem;
    font-size: 0.85rem;
  }
}

/* Small screens */
@media (max-width: 768px) {
  .btn-primary-outlined {
    padding: 0.6rem 1.2rem;
    font-size: 0.8rem;
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  .btn-primary-outlined {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
  }
}

section {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  background-color: var(--background-color);
  margin:0; /* Ensure no margin issues */
  padding: 0; /* Ensure no padding issues */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  

}

section::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff, var(--primary-color), #ffffff);
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

section span {
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: var(--background-color);
  transition: 1.5s;
}

section span:hover {
  background: var(--primary-color);
  transition: 0s;
}

/* Default size for larger screens */
section span {
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
}

/* Medium screens */
@media (max-width: 1200px) {
  section span {
    width: calc(8.33vw - 2px);
    height: calc(8.33vw - 2px);
  }
}

/* Small screens */
@media (max-width: 768px) {
  section span {
    width: calc(12.5vw - 2px);
    height: calc(12.5vw - 2px);
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  section span {
    width: calc(25vw - 2px);
    height: calc(25vw - 2px);
  }
}

/*search*/
.input {
background-color: var(--background-color);
border-radius: 5px;
height: 40px;
width: 300px;
margin-bottom: 20px;
padding: 10px;
border: 2px solid #4DC7E4;
outline: none;

}

.input:focus {
  border: none;
  outline: 2px solid #ff0095;


}



@media(max-width: 1600px){
  .mobile_position{
    text-align: center;
  }
}
@media(max-width: 600px){
  .input{
    width: 80%;
  }
}





/*cards*/
.container{
  position: absolute;
 top: 30px;
}
.box {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center; /* Centers the cards horizontally */
      flex-wrap: wrap; /* Allows the cards to wrap to the next line if the screen is too narrow */
      gap: 20px; /* Adds some space between the cards */
      margin-bottom: 20px;
    }

.card {
  width: 300px;
  height: 150px;
  background: #4DC7E4;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px #0000000c;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin: 20px 0 0 0; /* Removes default margin for p elements */
}

@media (max-width: 619px) {
  .card {
    width: 80%; /* Adjust card width to fit the entire screen width */
  }
}