@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  scroll-margin-top: 50px;
}


.header {
  padding: 1rem 20rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  box-shadow: 50px 50px 10px 0px rgba(0, 0, 0, 0.993);
}
@media only screen and (max-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 576px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .header {
    padding: 1rem 2rem;
  }
}
@media only screen and (min-width: 992px) {
  .header {
    padding: 1rem 6rem;
  }
}
@media only screen and (min-width: 1200px) {
  .header {
    padding: 1rem 15rem;
  }
}
@media only screen and (min-width: 1400px) {
  .header {
    padding: 1rem 20rem;
  }
}
@media only screen and (max-width: 576px) {
  .header h2 > span {
    font-size: 1rem;
  }
}
.header .nav-toggler {
  display: none;
}
@media only screen and (max-width: 576px) {
  .header .nav-toggler {
    display: block;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 576px) {
  .header .nav-toggler {
    display: block;
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 992px) {
  .header .nav-toggler {
    display: none;
  }
}


section 
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;

}
section::before 
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff,#4DC7E4,#ffffff);
  animation: animate 5s linear infinite;
}
@keyframes animate 
{
  0%
  {
    transform: translateY(-100%);
  }
  100%
  {
    transform: translateY(100%);
  }
}
section span 
{
  position: relative;
  display: block;
  width: calc(6.25vw - 2px);
  height: calc(6.25vw - 2px);
  background: #ffffff;
  z-index: 2;
  transition: 1.5s;
}
section span:hover 
{
  background: #4DC7E4;
  transition: 0s;
}